In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

import jb_helper_functions_prep
from jb_helper_functions_prep import create_enc

In [2]:
df = pd.read_csv('athletes.csv')

In [3]:
df.dropna(inplace=True)

In [4]:
df.shape

(10858, 11)

In [6]:
create_enc(df, ['sport', 'nationality'])

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,sport_enc,nationality_enc
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0,2,59
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0,8,101
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1,2,33
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0,21,117
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0,6,138
5,173071782,Aaron Royle,AUS,male,1/26/90,1.80,67.0,triathlon,0,0,0,23,10
6,266237702,Aaron Russell,USA,male,6/4/93,2.05,98.0,volleyball,0,0,1,24,191
7,382571888,Aaron Younger,AUS,male,9/25/91,1.93,100.0,aquatics,0,0,0,0,10
8,87689776,Aauri Lorena Bokesa,ESP,female,12/14/88,1.80,62.0,athletics,0,0,0,2,59
9,997877719,Ababel Yeshaneh,ETH,female,7/22/91,1.65,54.0,athletics,0,0,0,2,61
10,343694681,Abadi Hadis,ETH,male,11/6/97,1.70,63.0,athletics,0,0,0,2,61
11,591319906,Abbas Abubakar Abbas,BRN,male,5/17/96,1.75,66.0,athletics,0,0,0,2,27
13,376068084,Abbey D'Agostino,USA,female,5/25/92,1.61,49.0,athletics,0,0,0,2,191
14,162792594,Abbey Weitzeil,USA,female,12/3/96,1.78,68.0,aquatics,1,1,0,0,191
15,521036704,Abbie Brown,GBR,female,4/10/96,1.76,71.0,rugby sevens,0,0,0,17,67
16,149397772,Abbos Rakhmonov,UZB,male,7/7/98,1.61,57.0,wrestling,0,0,0,26,192
17,256673338,Abbubaker Mobara,RSA,male,2/18/94,1.75,64.0,football,0,0,0,9,155
18,337369662,Abby Erceg,NZL,female,11/20/89,1.75,68.0,football,0,0,0,9,138
19,334169879,Abd Elhalim Mohamed Abou,EGY,male,6/3/89,2.10,88.0,volleyball,0,0,0,24,56
20,215053268,Abdalaati Iguider,MAR,male,3/25/87,1.73,57.0,athletics,0,0,0,2,114
21,763711985,Abdalelah Haroun,QAT,male,1/1/97,1.85,80.0,athletics,0,0,0,2,152
22,924593601,Abdalla Targan,SUD,male,9/28/96,1.77,65.0,athletics,0,0,0,2,170
23,578032534,Abdel Aziz Mehelba,EGY,male,12/10/88,1.76,80.0,shooting,0,0,0,19,56
24,890222258,Abdelati El Guesse,MAR,male,2/27/93,1.90,72.0,athletics,0,0,0,2,114
25,803161695,Abdelaziz Merzougui,ESP,male,8/30/91,1.75,67.0,athletics,0,0,0,2,59
26,189931373,Abdelaziz Mohamed Ahmed,SUD,male,10/12/94,1.81,72.0,aquatics,0,0,0,0,170
27,677622742,Abdelghani Demmou,ALG,male,1/29/89,1.85,75.0,football,0,0,0,9,2
29,904808208,Abdelhakim Amokrane,ALG,male,5/10/94,1.86,70.0,football,0,0,0,9,2
31,133974151,Abdelkadir Salhi,ALG,male,3/19/93,1.85,79.0,football,0,0,0,9,2
32,189886442,Abdelkebir Ouaddar,MAR,male,7/15/62,1.74,67.0,equestrian,0,0,0,7,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11505,47822121,Ziyu Zhang,AUS,female,12/10/90,1.62,70.0,table tennis,0,0,0,20,10
11506,432416881,Zlatko Horvat,CRO,male,9/25/84,1.79,86.0,handball,0,0,0,12,47
11507,446963221,Zoe Arancini,AUS,female,7/14/91,1.70,70.0,aquatics,0,0,0,0,10
11508,499603226,Zoe Buckman,AUS,female,12/21/88,1.68,50.0,athletics,0,0,0,2,10
11509,836633838,Zoe Lee,GBR,female,12/15/85,1.76,70.0,rowing,0,1,0,16,67
11510,634140075,Zoe Stevenson,NZL,female,6/19/91,1.83,74.0,rowing,0,0,0,16,138
11511,343671816,Zoe de Toledo,GBR,female,7/17/87,1.72,58.0,rowing,0,1,0,16,67
11512,371106012,Zohar Shikler,ISR,female,7/8/97,1.78,61.0,aquatics,0,0,0,0,90
11515,211176854,Zoi Kontogianni,GRE,female,9/19/97,1.65,47.0,gymnastics,0,0,0,11,73
11516,875374176,Zokhid Kenjaev,UZB,male,3/30/92,1.68,61.0,table tennis,0,0,0,20,192
11518,672182746,Zoltan Kovago,HUN,male,4/10/79,2.04,132.0,athletics,0,0,0,2,82
11519,412827228,Zorana Arunovic,SRB,female,11/22/86,1.68,90.0,shooting,0,0,0,19,166
11520,724419150,Zouhair Aouad,BRN,male,4/7/89,1.75,69.0,athletics,0,0,0,2,27
11521,281890328,Zoulehia Abzetta Dabonne,CIV,female,12/15/92,1.75,57.0,judo,0,0,0,14,39
11522,230998458,Zoya Ananchenko,KAZ,female,9/5/96,1.65,67.0,canoe,0,0,0,5,97
11523,778588793,Zsanett Nemeth,HUN,female,1/21/94,1.75,80.0,wrestling,0,0,0,26,82
11524,640253635,Zsofia Csonka,HUN,female,9/12/83,1.64,89.0,shooting,0,0,0,19,82
11525,999437858,Zsofia Erdelyi,HUN,female,12/10/87,1.64,53.0,athletics,0,0,0,2,82
11526,46916465,Zsofia Foldhazi,HUN,female,6/9/93,1.70,54.0,modern pentathlon,0,0,0,15,82
11527,738530209,Zsofia Kovacs,HUN,female,2/7/88,1.80,58.0,triathlon,0,0,0,23,82
11528,499425013,Zsofia Kovacs,HUN,female,4/6/00,1.58,49.0,gymnastics,0,0,0,11,82
11529,862285226,Zsombor Berecz,HUN,male,4/26/86,1.95,95.0,sailing,0,0,0,18,82
11530,739315046,Zsuzsanna Jakabos,HUN,female,4/3/89,1.85,70.0,aquatics,0,0,0,0,82
11531,600541319,Zurabi Datunashvili,GEO,male,6/18/91,1.83,75.0,wrestling,0,0,0,26,69
11532,801825063,Zurabi Iakobishvili,GEO,male,2/4/92,1.71,68.0,wrestling,0,0,0,26,69
11533,265605954,Zurian Hechavarria,CUB,female,8/10/95,1.64,58.0,athletics,0,0,0,2,48
11534,214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0,2,50
11535,88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0,26,38
11536,900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0,25,195
11537,711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0,2,155

In [46]:
def remove_outlier_column(df, groupby_column, outlier_column):
    uniques = list(sorted(df[groupby_column].unique()))
    
    removed_df = pd.DataFrame()
    final_df = pd.DataFrame()
    
    for unique in uniques:
        df_grouped_1 = df[df[groupby_column] == unique]
        df_grouped_2 = df[df[groupby_column] == unique]
        
        q1 = df[outlier_column].quantile(0.25)
        q3 = df[outlier_column].quantile(0.75)
    
        iqr = q3-q1
        fence_low = q1-1.5*iqr
        fence_high = q3+1.5*iqr
        
        df_rem = df_grouped_1.loc[(df_grouped_1[outlier_column] < fence_low) | (df_grouped_1[outlier_column] > fence_high)]
        removed_df = removed_df.append(df_rem)
        
        df_out = df_grouped_2.loc[(df_grouped_2[outlier_column] > fence_low) & (df_grouped_2[outlier_column] < fence_high)]
        final_df = final_df.append(df_out)
        
    return final_df, removed_df

In [47]:
df_good, df_rem = remove_outlier_column(df, 'sex', 'height')

In [48]:
df_good.shape

(10766, 13)

In [49]:
df_rem.shape

(92, 13)

In [40]:
df_good.describe()

,id,height,weight,gold,silver,bronze,sport_enc,nationality_enc
count,1.076600e+04,10766.000000,10766.000000,10766.000000,10766.000000,10766.000000,10766.000000,10766.000000
mean,5.009902e+08,1.765712,71.914453,0.059168,0.058332,0.058146,9.683448,92.538176
std,2.908979e+08,0.109172,15.911793,0.257775,0.242178,0.238356,8.189461,57.891926
min,1.834700e+04,1.470000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.459458e+08,1.690000,60.000000,0.000000,0.000000,0.000000,2.000000,45.000000
50%,5.021887e+08,1.760000,70.000000,0.000000,0.000000,0.000000,8.000000,82.000000
75%,7.549556e+08,1.840000,80.000000,0.000000,0.000000,0.000000,16.000000,148.000000
max,9.999878e+08,2.060000,170.000000,5.000000,2.000000,2.000000,26.000000,199.000000

In [41]:
df.describe()

,id,height,weight,gold,silver,bronze,sport_enc,nationality_enc
count,1.085800e+04,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000,10858.000000
mean,5.011329e+08,1.766942,72.070915,0.059772,0.058482,0.058574,9.688893,92.448241
std,2.909399e+08,0.113111,16.162358,0.260756,0.242387,0.239113,8.191945,57.862221
min,1.834700e+04,1.210000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.460081e+08,1.690000,60.000000,0.000000,0.000000,0.000000,2.000000,44.000000
50%,5.020973e+08,1.760000,70.000000,0.000000,0.000000,0.000000,8.000000,82.000000
75%,7.555681e+08,1.840000,81.000000,0.000000,0.000000,0.000000,16.000000,148.000000
max,9.999878e+08,2.210000,170.000000,5.000000,2.000000,2.000000,26.000000,199.000000

In [51]:
df_rem.describe()

,id,height,weight,gold,silver,bronze,sport_enc,nationality_enc
count,9.200000e+01,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000
mean,5.178273e+08,1.910870,90.380435,0.130435,0.076087,0.108696,10.326087,81.923913
std,2.969513e+08,0.308846,29.546329,0.496524,0.266590,0.312963,8.499656,53.526872
min,3.094916e+07,1.210000,31.000000,0.000000,0.000000,0.000000,0.000000,6.000000
25%,2.775292e+08,1.457500,58.000000,0.000000,0.000000,0.000000,4.000000,38.000000
50%,5.012866e+08,2.080000,101.500000,0.000000,0.000000,0.000000,4.000000,64.000000
75%,7.772501e+08,2.100000,113.000000,0.000000,0.000000,0.000000,16.000000,132.500000
max,9.991311e+08,2.210000,130.000000,4.000000,1.000000,1.000000,25.000000,191.000000

In [52]:
df_good, df_rem = remove_outlier_column(df_good, 'sex', 'weight')

In [53]:
df_good.shape

(10526, 13)

In [54]:
df_rem.shape

(207, 13)

### This is set up so that you can run a single column you would like to group by and eliminate outliers in a single column.  If you use df_good, for example, you would have to run that back through the second round, with weight, like above.