In [5]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('athletes.csv')

In [4]:
df.dropna(inplace=True)

In [6]:
def create_enc(df, columns):
    for col in columns:
        df[col+'_enc'] = df[col]
        encoder = LabelEncoder()
        encoder.fit(df[col])
        df[col+'_enc'] = encoder.transform(df[enc])
    return df

In [9]:
create_enc(df, ['sport', 'nationality'])

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,sport_enc,nationality_enc
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0,athletics,ESP
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0,fencing,KOR
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1,athletics,CAN
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0,taekwondo,MDA
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0,cycling,NZL
5,173071782,Aaron Royle,AUS,male,1/26/90,1.80,67.0,triathlon,0,0,0,triathlon,AUS
6,266237702,Aaron Russell,USA,male,6/4/93,2.05,98.0,volleyball,0,0,1,volleyball,USA
7,382571888,Aaron Younger,AUS,male,9/25/91,1.93,100.0,aquatics,0,0,0,aquatics,AUS
8,87689776,Aauri Lorena Bokesa,ESP,female,12/14/88,1.80,62.0,athletics,0,0,0,athletics,ESP
9,997877719,Ababel Yeshaneh,ETH,female,7/22/91,1.65,54.0,athletics,0,0,0,athletics,ETH
10,343694681,Abadi Hadis,ETH,male,11/6/97,1.70,63.0,athletics,0,0,0,athletics,ETH
11,591319906,Abbas Abubakar Abbas,BRN,male,5/17/96,1.75,66.0,athletics,0,0,0,athletics,BRN
13,376068084,Abbey D'Agostino,USA,female,5/25/92,1.61,49.0,athletics,0,0,0,athletics,USA
14,162792594,Abbey Weitzeil,USA,female,12/3/96,1.78,68.0,aquatics,1,1,0,aquatics,USA
15,521036704,Abbie Brown,GBR,female,4/10/96,1.76,71.0,rugby sevens,0,0,0,rugby sevens,GBR
16,149397772,Abbos Rakhmonov,UZB,male,7/7/98,1.61,57.0,wrestling,0,0,0,wrestling,UZB
17,256673338,Abbubaker Mobara,RSA,male,2/18/94,1.75,64.0,football,0,0,0,football,RSA
18,337369662,Abby Erceg,NZL,female,11/20/89,1.75,68.0,football,0,0,0,football,NZL
19,334169879,Abd Elhalim Mohamed Abou,EGY,male,6/3/89,2.10,88.0,volleyball,0,0,0,volleyball,EGY
20,215053268,Abdalaati Iguider,MAR,male,3/25/87,1.73,57.0,athletics,0,0,0,athletics,MAR
21,763711985,Abdalelah Haroun,QAT,male,1/1/97,1.85,80.0,athletics,0,0,0,athletics,QAT
22,924593601,Abdalla Targan,SUD,male,9/28/96,1.77,65.0,athletics,0,0,0,athletics,SUD
23,578032534,Abdel Aziz Mehelba,EGY,male,12/10/88,1.76,80.0,shooting,0,0,0,shooting,EGY
24,890222258,Abdelati El Guesse,MAR,male,2/27/93,1.90,72.0,athletics,0,0,0,athletics,MAR
25,803161695,Abdelaziz Merzougui,ESP,male,8/30/91,1.75,67.0,athletics,0,0,0,athletics,ESP
26,189931373,Abdelaziz Mohamed Ahmed,SUD,male,10/12/94,1.81,72.0,aquatics,0,0,0,aquatics,SUD
27,677622742,Abdelghani Demmou,ALG,male,1/29/89,1.85,75.0,football,0,0,0,football,ALG
29,904808208,Abdelhakim Amokrane,ALG,male,5/10/94,1.86,70.0,football,0,0,0,football,ALG
31,133974151,Abdelkadir Salhi,ALG,male,3/19/93,1.85,79.0,football,0,0,0,football,ALG
32,189886442,Abdelkebir Ouaddar,MAR,male,7/15/62,1.74,67.0,equestrian,0,0,0,equestrian,MAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11505,47822121,Ziyu Zhang,AUS,female,12/10/90,1.62,70.0,table tennis,0,0,0,table tennis,AUS
11506,432416881,Zlatko Horvat,CRO,male,9/25/84,1.79,86.0,handball,0,0,0,handball,CRO
11507,446963221,Zoe Arancini,AUS,female,7/14/91,1.70,70.0,aquatics,0,0,0,aquatics,AUS
11508,499603226,Zoe Buckman,AUS,female,12/21/88,1.68,50.0,athletics,0,0,0,athletics,AUS
11509,836633838,Zoe Lee,GBR,female,12/15/85,1.76,70.0,rowing,0,1,0,rowing,GBR
11510,634140075,Zoe Stevenson,NZL,female,6/19/91,1.83,74.0,rowing,0,0,0,rowing,NZL
11511,343671816,Zoe de Toledo,GBR,female,7/17/87,1.72,58.0,rowing,0,1,0,rowing,GBR
11512,371106012,Zohar Shikler,ISR,female,7/8/97,1.78,61.0,aquatics,0,0,0,aquatics,ISR
11515,211176854,Zoi Kontogianni,GRE,female,9/19/97,1.65,47.0,gymnastics,0,0,0,gymnastics,GRE
11516,875374176,Zokhid Kenjaev,UZB,male,3/30/92,1.68,61.0,table tennis,0,0,0,table tennis,UZB
11518,672182746,Zoltan Kovago,HUN,male,4/10/79,2.04,132.0,athletics,0,0,0,athletics,HUN
11519,412827228,Zorana Arunovic,SRB,female,11/22/86,1.68,90.0,shooting,0,0,0,shooting,SRB
11520,724419150,Zouhair Aouad,BRN,male,4/7/89,1.75,69.0,athletics,0,0,0,athletics,BRN
11521,281890328,Zoulehia Abzetta Dabonne,CIV,female,12/15/92,1.75,57.0,judo,0,0,0,judo,CIV
11522,230998458,Zoya Ananchenko,KAZ,female,9/5/96,1.65,67.0,canoe,0,0,0,canoe,KAZ
11523,778588793,Zsanett Nemeth,HUN,female,1/21/94,1.75,80.0,wrestling,0,0,0,wrestling,HUN
11524,640253635,Zsofia Csonka,HUN,female,9/12/83,1.64,89.0,shooting,0,0,0,shooting,HUN
11525,999437858,Zsofia Erdelyi,HUN,female,12/10/87,1.64,53.0,athletics,0,0,0,athletics,HUN
11526,46916465,Zsofia Foldhazi,HUN,female,6/9/93,1.70,54.0,modern pentathlon,0,0,0,modern pentathlon,HUN
11527,738530209,Zsofia Kovacs,HUN,female,2/7/88,1.80,58.0,triathlon,0,0,0,triathlon,HUN
11528,499425013,Zsofia Kovacs,HUN,female,4/6/00,1.58,49.0,gymnastics,0,0,0,gymnastics,HUN
11529,862285226,Zsombor Berecz,HUN,male,4/26/86,1.95,95.0,sailing,0,0,0,sailing,HUN
11530,739315046,Zsuzsanna Jakabos,HUN,female,4/3/89,1.85,70.0,aquatics,0,0,0,aquatics,HUN
11531,600541319,Zurabi Datunashvili,GEO,male,6/18/91,1.83,75.0,wrestling,0,0,0,wrestling,GEO
11532,801825063,Zurabi Iakobishvili,GEO,male,2/4/92,1.71,68.0,wrestling,0,0,0,wrestling,GEO
11533,265605954,Zurian Hechavarria,CUB,female,8/10/95,1.64,58.0,athletics,0,0,0,athletics,CUB
11534,214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0,athletics,CZE
11535,88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0,wrestling,CHN
11536,900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0,weightlifting,VIE
11537,711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0,athletics,RSA

In [10]:
df.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,sport_enc,nationality_enc
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0,athletics,ESP
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0,fencing,KOR
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1,athletics,CAN
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0,taekwondo,MDA
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0,cycling,NZL